/* --------------------- */
// = Content
/* --------------------- */

// CPT

.page-template-pagecustom-cpt {
	
	.post-header {
		margin-bottom: 0;
	}
}

// Maintenance

.page-template-pagecustom-maintenance {
	
	#site_nav,
	#site_foot {
		display: none;
	}
	.site-brand-container {
		justify-content: center;
		padding: $grid-padding*2;
	}

}