// -------------------------
// = Navigation
// -------------------------


// Main nav

.main-menu {
	
	& > li {

		@include rwd(large) {
			.home &,
			.page-template-pagecustom-maintenance & {
				color: #fff;
			}
		}
		
		& > a:hover, & > a:focus {

			@include rwd(large) {
				.home &,
				.page-template-pagecustom-maintenance & {
					color: #fff;
					opacity: .7; 
				}
			}
			
		}
		&.current-menu-item > a,
		&.current-menu-ancestor > a {

			@include rwd(large) {
				.home &,
				.page-template-pagecustom-maintenance & {
					border-color: #fff; 
				}
			}
			 
		}
		

		// Sub-Menus behaviors
		
		.sub-menu {
	
			@include rwd(large) {
				.home &,
				.page-template-pagecustom-maintenance & {
					background-color: transparent;
				}
			}
		
		}
		
	}
	
	
}

.sub-menu-unfold {
	
	&::after, &::before {

		@include rwd(large) {
			.home &,
			.page-template-pagecustom-maintenance & {
				background-color: #fff;
				opacity: .7;
			}
		}
	}
	
}